.MuiTablePagination-displayedRows {
  margin: auto;
}

.MuiTablePagination-selectLabel {
  margin: auto;
}

.divMain {
  height: 100%;
  width: 100%;
}

.divSub {
  width: 100%;
  position: absolute;
  margin-top: 5%;
  padding-left: 6%;
  padding-right: 6%;
  background-color: #c7e5ff;
  max-height: inherit;
}
