.MuiTablePagination-displayedRows {
  margin: auto;
}

.MuiTablePagination-selectLabel {
  margin: auto;
}

.divMain {
  height: 100%;
  width: 100%;
}

.divSub {
  width: 100%;
  position: absolute;
  margin-top: 5%;
  padding-left: 6%;
  padding-right: 6%;
  background-color: #feffc7;
  max-height: inherit;
}

.jhTYTd {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 1.6;
  -webkit-letter-spacing: 0.0075em;
  -moz-letter-spacing: 0.0075em;
  -ms-letter-spacing: 0.0075em;
  letter-spacing: 0.0075em;
  color: #ad0b90;
}
